@using KeepFitStore.Models.ViewModels.Orders

@model IEnumerable<AllOrdersViewModel>
@{
    ViewData["Title"] = "Administration - Orders";
}

<h1 class="mt-3">Orders</h1>
<button class="btn btn-link dropdown-toggle mt-1 mb-1 options-btn">Options</button>
<partial name="~/Areas/Administrator/Views/Partials/_AdminFilterOptionsForOrderPartial.cshtml" />
<partial name="~/Areas/Administrator/Views/Partials/_AdminListAllOrdersPartial.cshtml" />

@section Scripts {
    <script>
        $().ready(function () {
            showOptionsClickEvent();
            filterBtnClickEvent();
        });
    </script>
}