<footer class="page-footer font-small blue text-white pl-3 pr-3">
    <div class="footer-copyright  text-center py-3 layoutColors">
        © Copyright Santy Web Design Studios 2019. All Rights reserved.
    </div>
</footer>