<div class="row">
    <div class="col-lg-3 col-xl-3 col-md-4 col-sm-12">
        <ul>
            <li class="h4 mb-2">About Us</li>
            <li>Who we are</li>
            <li><a asp-controller="Home" asp-action="Contact">Contacts</a></li>
            <li><a asp-controller="JobApplicant" asp-action="Create">Working at Keep Fit</a></li>
            <li>Contacts us</li>
            @*
            <li>Privacy and coockie policy</li>
            <li>Terms and Conditions</li>
            <li>Site feedback</li> 
            *@
            <li><a asp-controller="Home" asp-action="Delivery">Delivery & return</a></li>

        </ul>
    </div>
    <div class="col-lg-3 col-xl-3 col-md-4 col-sm-12">
        <ul>
            <li class="h4 mb-2">Contacts</li>
            <li>Westminster Palace, City Of London SW1A 0AA</li>
            <li>Phone: 0700 99 999 999</li>
            <li>E-Mail: aspdotnet@abv.bg</li>
        </ul>
    </div>
    <div class="col-lg-3 col-xl-3 col-md-4 col-sm-12">
        <ul>
            <li class="h4 mb-2">Follow Us</li>
        </ul>
        <div class="d-flex justify-content-center">
            <a href="#" class="mr-2"><i class='fab fa-facebook' style='font-size:48px'></i></a>
            <a href="#"><i class='fab fa-instagram' style='font-size:48px;color:black'></i></a>
        </div>
    </div>
</div>
<hr class="border-dark" />
<p class="text-center">Copyright © KeepFitStore, 2019. All rights reserved. keepfitstore.com is a trading name of Keep Fit Limited,. Registered office: Samuel Jackson House, Carshalton Beaches, Huneaton, Worchester Park CV11 8QH. Registered in England: company no. 2713255. Registered VAT no. 217323951.</p>