@using Microsoft.AspNetCore.Identity
@using KeepFitStore.Domain

@inject SignInManager<KeepFitUser> SignInManager
@inject UserManager<KeepFitUser> UserManager


<ul class="navbar-nav navbar-right">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user mr-1"></i>
                Hello @User.Identity.Name!
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class='far fa-id-card'></i> Account Settings</a>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </div>
        </li>
    }
    else
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user mr-1"></i>
                Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Login</a>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </div>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link text-white" href="#">
            <div class="text-center">
                <i class="fa fa-shopping-basket"></i>
            </div>
        </a>
    </li>
</ul>