@using Microsoft.AspNetCore.Identity
@using KeepFitStore.Domain

@inject SignInManager<KeepFitUser> SignInManager
@inject UserManager<KeepFitUser> UserManager

<ul class="nav justify-content-end pr-4">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-shopping-basket" style="font-size:24px"></i></a>
        </li>
        <li class="nav-item mr-4">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {

        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">
                <div class="d-flex justify-content-center"><i class="fas fa-user"></i></div>
                <div>Login</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">
                <div class="d-flex justify-content-center"><i class="fas fa-user-plus"></i></div>
                <div>Register</div>
            </a>
        </li>
        <li class="nav-item mr-4">
            <a class="nav-link" href="#"><i class="fas fa-shopping-basket"></i></a>
        </li>
    }
</ul>