@using Microsoft.AspNetCore.Identity
@using KeepFitStore.Domain

@inject SignInManager<KeepFitUser> SignInManager
@inject UserManager<KeepFitUser> UserManager


    <ul class="navbar-nav navbar-right">
        @if (SignInManager.IsSignedIn(User))
        {
            <vc:basket-in-navbar></vc:basket-in-navbar>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user mr-1"></i>
                    Hello @User.Identity.Name!
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class='far fa-id-card'></i> Account Settings</a>
                    <a class="dropdown-item" asp-controller="Orders" asp-action="Index" title="Manage"><i class="fas fa-boxes"></i> My Orders</a>
                    <a class="dropdown-item" asp-controller="Favorites" asp-action="All" title="Manage"><i class="far fa-heart"></i> Favorites</a>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
                </div>
            </li>
        }
        else
        {
            <vc:basket-in-navbar></vc:basket-in-navbar>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user mr-1"></i>
                    Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Login</a>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </div>
            </li>
        }
    </ul>
