@using KeepFitStore.Domain.Enums
@using System.Linq; 

@{ 
    var values = Enum.GetValues(typeof(CreatineType)); 
}

<nav class="navbar navbar-expand-lg navbar-light menuNavbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="text-dark">Products</span>
    </button>
    <div class="collapse navbar-collapse justify-content-around" id="navbarNavAltMarkup">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active text-dark" asp-area="Products" asp-controller="Home" asp-action="Index"><strong>All </strong><span class="sr-only">(current)</span></a>
            <div class="dropdown">
                <button class="dropbtn">Proteins</button>           
                <div keep-fit-enums types="@Enum.GetValues(typeof(ProteinType))" class="dropdown-content">                  
                </div>
            </div>
            <a class="nav-item nav-link active text-dark" href="/Home/Index"><strong>Amino Acids </strong><span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active text-dark" href="/Home/Index"><strong>Vitamins </strong><span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active text-dark" href="/Home/Index"><strong>Creatine </strong><span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>