<div class="d-flex justify-content-between m-2 mt-3">
    <div class="d-flex justify-content-between">
        <div>
            <i class='fas fa-truck' style='font-size:48px;color:#007bff'></i>
        </div>
        <div class="ml-2">
            <p><strong>FREE BG STANDARD DELIVERY</strong><br />when you spend 20lv.</p>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <i class="fa fa-fighter-jet" style="font-size:48px;color:#007bff"></i>
        </div>
        <div class="ml-2">
            <p><strong>FREE NEXT DAY DELIVERY</strong><br /> when you spend 60lv. order before 9pm</p>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <i class='fas fa-chart-line' style='font-size:48px;color:#007bff'></i>
        </div>
        <div class="ml-2">
            <p><strong>BEST SPORT WEBSITE FOR 2019</strong><br /> in Bulgaria</p>
        </div>
    </div>
</div>