@using KeepFitStore.Models.ViewModels.Orders
@using Microsoft.Extensions.Options
@inject IOptions<KeepFitStore.Helpers.StripeSettings> Stripe

@model CompleteOrderViewModel

<div id="my-pay-form" class="text-center">
    <form asp-controller="Payment" asp-action="Charge" asp-route-amount="@Model.TotalPrice" asp-route-orderId="@Model.Id" method="POST">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="@Stripe.Value.PublishableKey"
                data-locale="auto"
                data-name="@Model.KeepFitUserFullName"
                data-description="Keep Fit Store Supliments"
                data-label="Pay with Card &pound;@Model.TotalPrice">
        </script>
    </form>
</div>