<div class="container">
    <div class="card border-primary p-2 mb-3 mt-3">
        <img class="card-img-top" src="~/banners/wheyproteinbanner-1.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Proteins</h5>
            <a class="btn btn-primary text-white" asp-area="Products" asp-controller="Proteins" asp-action="Create">Create Protein Section</a>
        </div>
    </div>
    <div class="card border-warning p-2 mb-3 mt-3">
        <img class="card-img-top" src="~/banners/creatinebanner-1.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Creatines</h5>
            <a class="btn btn-warning text-white" asp-area="Products" asp-controller="Creatines" asp-action="Create">Create Creatine Section</a>
        </div>
    </div>
    <div class="card border-success p-2 mb-3 mt-3">
        <img class="card-img-top" src="~/banners/aminoacidsbanner-1.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Amino Acids</h5>
            <a class="btn btn-success text-white" asp-area="Products" asp-controller="Aminos" asp-action="Create">Create Amino Section</a>
        </div>
    </div>
    <div class="card border-danger p-2 mb-3 mt-3">
        <img class="card-img-top border" src="~/banners/vitamins-banner.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Vitamins</h5>
            <a class="btn btn-danger text-white" asp-area="Products" asp-controller="Vitamins" asp-action="Create">Create Vitamin Section</a>
        </div>
    </div>
    <div class="card border-dark p-2 mb-3 mt-3">
        <img class="card-img-top border" src="~/banners/all-products-banner.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">All Products</h5>
            <a class="btn btn-dark text-white" asp-area="Administrator" asp-controller="Products" asp-action="Index">Go To All Products</a>
        </div>
    </div>
</div>