@{
    var arr = new string[] { "All Orders", "ByStatus" };
}

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-white" asp-area="Administrator" asp-controller="Home" asp-action="Index">Administration</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNavAltMarkup">
        <div class="nav navbar-nav">
            <div class="dropdown">
                <button class="btn text-white bg-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Products
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-area="Administrator" asp-controller="Products" asp-action="Index"><i class='fas fa-file-alt mr-2'></i> List All Products</a>
                    <a class="dropdown-item" asp-area="Administrator" asp-controller="Products" asp-action="Create"><i class="fa fa-plus mr-2" aria-hidden="true"></i> Create Product</a>
                </div>
            </div>
            <a class="btn text-white bg-dark" asp-area="Administrator" asp-controller="Orders" asp-action="All" aria-haspopup="true" aria-expanded="false">
                Orders
            </a>
            <div class="dropdown">
                <button class="btn text-white bg-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Careers
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" asp-area="Administrator" asp-controller="JobApplicant" asp-action="Index"><i class="fas fa-tasks mr-2"></i> Job Applications</a>
                    <a class="dropdown-item" asp-area="Administrator" asp-controller="JobPosition" asp-action="Create"><i class="fas fa-briefcase mr-2"></i> Create Job Position</a>
                </div>
            </div>
        </div>
    </div>
</nav>