<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-white" asp-area="Administrator" asp-controller="Home" asp-action="Index">Administration</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active text-white" asp-area="Administrator" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active text-white" href="/Home/Index">Protein <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active text-white" href="/Home/Index">Amino Acids <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active text-white" href="/Home/Index">Vitamins <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link active text-white" href="/Home/Index">Creatine <span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav>
