<form method="post">
    <div class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4  class="modal-title w-100 font-weight-bold">Review for Product - @this.ViewBag.Product.Name</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="error-message" class="text-center p-2 text-danger" style="display:none">
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right" for="form3">Title</label>
                        <input type="text" id="title" class="form-control validate">
                    </div>
                    <div class="md-form mb-5">
                        <label data-error="wrong" data-success="right">Rate this Product from 1 to 5</label>
                        <input type="number" id="rating" min="1" max="5" class="form-control validate">
                    </div>
                    <div class="md-form mb-4">
                        <label data-error="wrong" data-success="right" for="form2">Review Content</label>
                        <textarea id="content" productId="@this.ViewBag.Product.Id" rows="3" class="form-control validate"></textarea>
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="submit" class="btn btn-indigo">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
                </div>
            </div>
        </div>
    </div>
</form>