<a class="nav-item nav-link active" id="nav-nutrition-tab" data-toggle="tab" href="#nav-nutrition" role="tab" aria-controls="nav-home" aria-selected="true">Nutritional Information</a>
<a class="nav-item nav-link" id="nav-directions-tab" data-toggle="tab" href="#nav-directions" role="tab" aria-controls="nav-profile" aria-selected="false">Directions</a>
<a class="nav-item nav-link" id="nav-description-tab" data-toggle="tab" href="#nav-description" role="tab" aria-controls="nav-contact" aria-selected="false">Description</a>
<a class="nav-item nav-link" id="nav-reviews-tab" data-toggle="tab" href="#nav-reviews" role="tab" aria-controls="nav-about" aria-selected="false">Reviews</a>