@using KeepFitStore.Models.ViewModels.Products.Creatines

@model DetailsCreatineViewModel
@{
    ViewData["Title"] = $"{Model.Name} Details";
    this.ViewBag.Product = Model;
}

<partial name="~/Areas/Products/Views/Partials/_ReviewForProductPartial.cshtml" />
<partial name="~/Areas/Products/Views/Partials/_ProductShortDetailsPartial.cshtml" />

<div class="container mt-4 mb-4 p-4">
    <div class="row">
        <div class="col-xs-12 col-xl-12">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Nutritional Information</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Directions</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Description</a>
                    <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Reviews</a>
                </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    @Model.Directions
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    @Model.Description
                </div>
                <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                    <partial name="~/Areas/Products/Views/Partials/_ListAllReviewsForProductPartial.cshtml" />
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
    $().ready(function () {
        submitReviewForm();
    });
    </script>
}