@using KeepFitStore.Models.ViewModels.Products

@model IEnumerable<ProductViewModel>
@{
    this.ViewData["Title"] = "Creatines " + this.ViewData["creatineType"];
}

<partial name="~/Views/Partials/_MessagesHomeIndexPartial.cshtml" />
<h2><span class="line-center m-4"><em>Creatines - @this.ViewData["creatineType"]</em></span></h2>
<partial name="~/Views/Partials/_ProductsIteratorPartial.cshtml" model="Model" />