<div class="mt-4 flex-lg-row flex-md-row flex-sm-row flex-column d-flex justify-content-around">
    <div class="card m-2 p-2">
        <img class="card-img-top" src="~/photos/ProductManagment.jpg" alt="Product Managment">
        <div class="card-body text-center">
            <h5 class="card-title">Product Manager</h5>
            <p class="card-text">Add, Update, Delete Products</p>
            <a class="btn btn-success" asp-area="Administrator" asp-controller="Products" asp-action="Create">Enter</a>
        </div>
    </div>
    <div class="card m-2 p-2">
        <img class="card-img-top" src="~/photos/OrderManagment.jpg" alt="Product Managment">
        <div class="card-body text-center">
            <h5 class="card-title">Order Manager</h5>
            <p class="card-text">Manage Site Orders</p>
            <a class="btn btn-success" asp-area="Administrator" asp-controller="Orders" asp-action="All">Enter</a>
        </div>
    </div>
    <div class="card m-2 p-2">
        <img class="card-img-top" src="~/photos/UserManagment.jpg" alt="Product Managment">
        <div class="card-body text-center">
            <h5 class="card-title">User Manager</h5>
            <h5 class="card-text">Under Development</h5>
            <a class="btn btn-success disabled" asp-area="Administrator" asp-controller="Products" asp-action="Create">Coming Soon</a>
        </div>
    </div>
</div>