<div class="row mt-4 d-flex justify-content-between">
    <div class="card col-3 m-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Create Product</h5>
            <h6 class="card-subtitle mb-2 text-muted">Create Product</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a class="card-link" asp-area="Administrator" asp-controller="Products" asp-action="Create">Enter</a>
        </div>
    </div>
</div>