@using KeepFitStore.Models.ViewModels.Products

@model IEnumerable<ProductViewModel>

<h2><span class="line-center m-4"><em>So hot right now</em></span></h2>
<partial name="~/Views/Partials/_ProductsIteratorPartial.cshtml" model="Model" />