@{
    ViewData["Title"] = "Contact";
}

<div class="row mt-3">
    <div class="col-xl-6">
        <iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=westminster%20palace&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>Google Maps Generator by <a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
    </div>
    <div class="offset-xl-2 col-xl-4">
        <address>
            <strong>Address:</strong> Westminster Palace, City Of London SW1A 0AA
        </address>
        <strong>Phone:</strong> 0700 99 999 999<br />
        <strong>Mobile:</strong> 0044 10 999 000 <br />
        <strong>E-mail:</strong> aspdotnet@abv.bg
    </div>
</div>