@{
    ViewData["Title"] = "Delivery info";
}

<div class="container mt-4 mb-4 p-4">
    <h1 class="text-center text-secondary">Delivery & Returns</h1>
    <div class="row">
        <div class="col-xs-12 col-xl-12">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-nutrition-tab" data-toggle="tab" href="#nav-delivery" role="tab" aria-controls="nav-home" aria-selected="true">Delivery</a>
                    <a class="nav-item nav-link" id="nav-description-tab" data-toggle="tab" href="#nav-return" role="tab" aria-controls="nav-contact" aria-selected="false">Return</a>
                </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-delivery" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row mt-2 mb-1">
                        <i class='fas fa-truck p-3' style='font-size:48px;color:#007bff'></i>
                        <p class="p-2">
                            <strong>Standard Delivery</strong><br />
                            • Orders are usually delivered within 3 working days between 8am - 9pm<br />
                            • £5.00 or FREE when you spend £20
                        </p>
                    </div>
                    <hr />
                    <div class="row mt-2 mb-1">
                        <i class="fa fa-fighter-jet p-3" style="font-size:48px;color:#007bff"></i>
                        <p class="p-2">
                            <strong>Next Day Delivery</strong><br />
                            • 7 days a week. The order will be delivered on the following day<br />
                            • £10.00 or FREE when you spend £60
                        </p>
                    </div>
                    <hr />
                    <div class="row mt-2 mb-1">
                        <i class="fa fa-fast-forward p-3" style="font-size:48px;color:#007bff" aria-hidden="true"></i>
                        <p class="p-2">
                            <strong>Express Delivery</strong><br />
                            7 days a week. The order will arrive on same day before 8 pm.<br />
                            • £15.00
                        </p>
                    </div>
                    <hr />
                </div>
                <div class="tab-pane fade" id="nav-return" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="row text-center mt-2 mb-1">
                        <p>
                            <strong>What is your returns policy?</strong><br />
                            We're sure you'll love your purchase, but if you're not happy for any reason, simply return the item(s) within 30 days of ordering and we'll exchange or refund it.
                            Once we have received your returned item(s) we will issue a refund to the payment method used to pay for the order. Please allow 7-10 days for the refund to show in your account.
                            You can return items back to your local store, or you can choose courier to post is back to us.
                        </p>
                    </div>
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>