@{
    ViewData["Title"] = "Who we are";
}

    <div class="m-4 p-1">
        <h1 class="text-center text-secondary">C# Web Final Project</h1>
        <p class="text-center">
            This online sport nutrition store is only for study purposes! I made this project to practire and study ASP.NET Core. It is not real online store! KeepFitStore contains sport nutrition products, that can be viewed by all users(anonymous and registered). Every product has a description, direction how to use it, nutrition information and coments(reviews). On the home page there are rows with products separated in cateogries - Top Rated and Newest. There is a navigation bar from which you can choose concrete product type or you can view all of them. In the products home page items can be sorted by Price asc and desc, Id and Rating. Every user can add products to his/hers basket, but only the registered ones can add products to favorites. 
        </p>
    </div>